name: Latest blog post workflow
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme-with-blog:
    name: Update README with blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://sanghaklee.tistory.com/rss"
          max_post_count: 5
          user_agent: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"
          accept_header: "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
          commit_message: "Updated with the latest blog posts"
          committer_username: "blog-post-bot"
          committer_email: "blog-post-bot@example.com"
